.root {
    -fx-base: #333;
    -fx-background: #222;
    -fx-control-inner-background: #444;
}

.label {
    -fx-text-fill: #E0E0E0;
}

.settings-container {
     -fx-background-color: #2D2D2D;
}

.toggle-button:selected {
    -fx-background-color: #666666;
    -fx-text-fill: white;
}

.tooltip-bar {
    -fx-background-color: #2D2D2D;
    -fx-border-color: #444;
    -fx-border-width: 1 0 0 0;
    -fx-text-fill: #E0E0E0;
}